<html> 
 	<body> 
 		Hi ${newMessage.userName},
 		   <p> 
 		 &nbsp; &nbsp; &nbsp;   Please find below the password as requested by you:	    
 		   </p>
 		    <p>
 		&nbsp; &nbsp; &nbsp;    User Id  : ${newMessage.userId}
 		    <br>
        &nbsp; &nbsp; &nbsp;    Password : ${newMessage.password} 
            </p>
            <p>
            Note: In case you did not request for the password, please get in touch with TDM Administrator immediately. 
            </p>
            <p>
           Thanks,
           <br>
           TDM Portal Support Team
 		   </p> 
 	</body> 
</html> 
