	body
{
    background:#e5e5e5 !important;
    font-family: 'Roboto Condensed', sans-serif;
}
.main-content
{
	background-color:rgb(242,242,242);
}
/*Header - common for all pages*/
.request-header
{
    color: #929090;
    background-color: #e5e5e5;
    z-index: 100;
	width:100%;
}
.page-heading h1
{
    vertical-align: top;
    display:inline-block;
    line-height: 30px;
    margin-left: 10px;
    font-size: 22px;
}
.request-tab
{
    width: 100%;
    min-width: 65%;
    bottom: auto;
    font-size: 14px;
}
.csa-header-bar
{
    height: 3px;
    background-color: #fff;
}
.page-heading
{
    font-size: 18px;
    height:20px;
    margin-top:8px;
}
.page-heading .fa-cogs
{
    width: 54px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    color:#929090;
}

/*Tabs*/
.nav-tabs {
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

.nav-tabs > li
{
    margin-right:5px;
    cursor:pointer;
}
.nav-tabs > li.active
{
    margin-top:0px;
}

.nav-tabs > li.active, .nav-tabs > li.hover
{
    z-index: 1;
    font-size: 14px;
    border-bottom:0px;
}

.nav-tabs > li.active > a
{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    font-size:17px;
}

.nav-tabs > li > a
{
    color:#e9ffff;
    background-color: #448eab !important;
    height: 30px;
    padding-right: 75px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 0 75px 0 10px;
    font-weight:bold;
}

.nav-tabs > li.hover > a
{
    background-color:#448eab !important;
    color: #e9ffff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-color:transparent;
    opacity:.5;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    border-color:transparent;
}
.nav-tabs{
    border-bottom:0px solid #ffffff;
    margin-top:8px;
}
.nav-tabs > li,.nav-tabs > li > a
{
    color: white;
    background-color: #71b2c9;
}
.nav-tabs > li > a
{
	margin-right:3px;
    font-size: 15px !important;
    text-align: center;
    margin: 2px 1px;
    padding: 0 10px 0 10px;
    background-color: #71b2c9 !important;
}
.nav-tabs > li.active,.nav-tabs > li.active > a
{
    color: #1799b9 !important;
    background-color: #ffffff !important;
}
.nav > li.active > a{
    padding: 0 10px 0 10px;
}
.nav-tabs > li.active > a{
    border-top: 3px solid #71b2c9 !important;
    border-left:2px solid transparent !important;
    border-right:2px solid transparent !important;
    font-weight: bold;
}

.content-section
{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    background: white;
    padding: 8px 0px;
}
.csaa-vectors{
    margin-right:5px;
}

[data-toggle="tooltip"] + .tooltip > .tooltip-inner {
    border:1px solid #9E9D9D;
    background-color: #e5e5e5;
    color: #000000;;
}
[data-toggle="tooltip"] + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #9E9D9D;
}

.fa-minus-square-o,.fa-plus-square-o
{
    cursor: pointer;
}

/*main header and footer*/
.main-header
{
	position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
    background: white;
}

.ats-main-nav
{
    height:35px;
    line-height: 35px;
    padding-right: 30px;
}
.ats-main-nav ul li{
    display: inline-block;
}
.ats-main-nav li,.ats-main-nav a{
    color:#ffffff;
    font-size: 13px;
}
.ats-main-nav span,.ats-main-nav a{
    border-right:1px solid #cdcdcd;;
    padding:0 13px;
}
.ats-main-nav li:last-child a{
    border-right:0px solid #FFFFFF;
}
.ats-main-nav span
{
    color:#000;
}
.ats-main-nav a{
    color: #0096d6;
}
.ats-main-nav a:hover{
    color:#006699;
    text-decoration: none;
}
.page-menu{
    clear: both;
}
.page-menu .logo{
    height: 60px;
    width: 56px;
    background-image: url("../images/landing/logo.PNG");
    background-size: contain;
    float: right;
    margin-top: 0px;
}
.other-nav{
	margin: 11px 0px;
}
.other-nav > ul > li
{
    display:inline-block;
}
.other-nav .sub-menu
{
    display:none;
    position: absolute;
    z-index: 200;
    background: #ffffff;
    padding:10px 0px;
    border: 1px solid #CCCCCC;
    border-bottom: 2px #0096d6 solid;
    border-top: 2px solid #ccc;
	margin-top: 10px;
}
.other-nav > ul > li:hover .sub-menu
{
    display:block;
}
.other-nav .sub-menu li{
    list-style-type: none;
    line-height: 40px;
}
.other-nav .sub-menu li:hover		
{		
    background-color: #007dba;		
}		
.other-nav .sub-menu li:hover a{		
    color:#ffffff;		
}
.other-nav .sub-menu a{
    padding:5px 15px;
}

.other-nav a,.other-nav a:visited
{
    padding: 0px 32px;
    font-size: 15px;
    color: #686868;
	display: inline-block;		
    text-align: center;
}
.other-nav a:hover
{
    text-decoration: none;
}
.other-nav a:hover i		
{
	color: #007DBA;
}
.other-nav ul {
    padding-left: 0px;
	margin-bottom:10px;
}

/*Footer*/
footer
{
    background-color: #5A5A5A;
    color: #ffffff !important;
}
.nav-links
{
    margin: 20px 0px;
}
footer ul li{
    display:inline-block;
}
footer ul a{
    padding: 0 13px;
    border-right:1px solid #FFFFFF;
    color: #ffffff !important;
}
footer .copyright
{
    margin: 20px 53px;
}

footer ul a:hover, footer ul a:focus
{
	color:white;
}

.contentBefore,.contentAfter{
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 0%;
}
.contentBefore
{
    border-bottom: 10px solid #ccc;
    margin-top: -12px;
}
.contentAfter{
    border-bottom: 10px solid #ffffff;
    margin-top: -10px;
    z-index: 1;
}
.contentBefore:hover,.contentAfter:hover{		
    background-color: transparent !important;		
}
footer li:last-child a		
{
	border-right:0px solid #FFFFFF;
}
.breadcrumb
{
	background-color: transparent; 
	margin-top:0px;
}
.breadcrumb>li {
    font-size: 15px;
}
.breadcrumb> .active
{
	color:#1799b9;
}
.breadcrumb li:nth-child(n+2):before
{
	padding-right: 14px;
	content:">" !important;
	color:black;
}
.com-submit-btn
{
	background-color: rgb(0,156,222);
	font-size: 15px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
	color: #FFFFFF;
	border:1px solid rgb(0,156,222);
	font-size: 15px;
	font-weight: bold;
}
.container
{
	margin-bottom:0px;
}
.margin-style
{
	margin-top:13px;
}
.ats-cncl-btn
{
	background-color: rgb(191,191,191);
	border:1px solid rgb(191,191,191);
}
.main-style
{
	margin-top: 120px;
}
.primary-nav nav a:hover, nav a:active, nav a:focus
{
	text-decoration:none;
	color:#686868;
}
/*10th March*/		
.ats-sub-nav		
{		
    box-shadow: 0 12px 6px -6px #CECECE;
}
.logo-text
{
    padding-top: 19px;
    font-size: 15px;
    padding-left: 17px;
}		
.other-nav ul > li> a > p		
{		
    margin-bottom: 0px;		
}		
.other-nav i		
{		
	font-size: 25px;
}